{% extends 'base.html' %}

{% block title%}
My tasks
{% endblock %}

{% block content%}
<form method="post" action="{% url 'tasks:index' %}"> 
    {% csrf_token %}
    <table class="table table-striped  table-bordered">
        <tr>
        <th>Task</th>
        <th>Due date</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
        {% if not form.instance.id %}
            <tr>
                {% include 'tasks/save_task.html' %}
            </tr>  
        {% endif %}       
</form>
        {% for task in tasks %}

            <tr>
                {% if form.instance.id == task.id %}
                    {% include 'tasks/save_task.html' %}
                {% else %}
                    <td><a href="{% url 'tasks:details' task.id %}" class="text-decoration-none">{{task.title}}</a></td>
                    <td>{{ task.due_date|date:"d/m/Y H:i" }}
                    </td>
                    {% if task.completed == True %}
                    <td>
                        Compeleted
                    </td>
                    {% else %}
                    <td>
                        In progress
                    </td>
                    {% endif %}
                    <td>
                        
                        <div class="d-flex gap-2">
                            {% if task.completed == False %}
                                <form method="post" action="{% url 'tasks:index' %}"> 
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" value="{{ task.id }}" name="complete">Complete</button>
                                </form>
                            {% elif task.completed == True %}
                                <form method="post" action="{% url 'tasks:index' %}"> 
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning" value="{{ task.id }}" name="uncomplete">Uncomplete</button>
                                </form>
                            {% endif %}
                            <form method="post" action="{% url 'tasks:index' %}"> 
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary" value="{{ task.id }}" name="edit">Edit</button>
                            </form>
                            <form method="post" action="{% url 'tasks:index' %}"> 
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" value="{{ task.id }}" name="delete">Delete</button>
                            </form>
                            
                        </div>
                        
                        

                    </td>
                {% endif %}
                </tr>
        {% endfor %}
    </table>
</form>

    

{% endblock %}
